.main{
    border: 2px solid;
    display: grid;
    /* background-color: cadetblue; */
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-template-rows: repeat(3,200px);
    grid-template-areas: 'a b b c'
    'a d e f'
    'a g h f';
    
   
}
.item1{
    grid-area: a;
    /* grid-column: 1/2;
    grid-row: 1/4; */
    background-color: green;
}
.item2{
    grid-area: b;
    /* grid-column: 2/4; */
    background-color: green;
}
.item3{
    grid-area: c;
    background-color: red;
}
.item6{
    grid-area: f;
    /* grid-row:2/4;
    grid-column: 4/5; */
    background-color: green;
}
.item4{
    grid-area: d;
    background-color: chartreuse;
}
.item8{
    grid-area: h;
    background-color: chartreuse;
}
.item5{
    grid-area: e;
    background-color: red;
}
.item7{
    grid-area: g;
    background-color: red;
}

/* .item{
    padding-top: 50px;
    padding-left: 100px;
} */